@import './../../styles/abstract/variables';

.Container {
	direction: rtl;

	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
		direction: ltr !important;

		&Text {
			font-weight: bold !important;
		}

		&Value {
		}
	}

	.Progress {
		height: 4px;
		width: 100%;
		background: #c0c0ca;
		position: relative;

		& > div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background-color: $danger;
		}
	}
}
