// variables

// color
$dark: #1e1e28;
$lite: #fafafc;
$muted: #8c8c8e;
$secondary: #5c5c6f;
$danger: #f44336;

$lite-theme-background: #e0e0e6;
$lite-theme-box-background: #f4f4f6;
$lite-theme-box-shadow: rgba(15, 15, 5, 0.4);

// font family
$mikhak: mikhak;
$vazir: Vazir;

$animation-transition: 0.6s;
