.Button {
	background-color: #f44336;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 12px 35px;
	cursor: pointer;
	box-shadow: none;
	transition: transform 0.5s;
	font-weight: 600;
	border-radius: 2px;

	&:focus {
		outline: none;
		border: none;
	}

	&:hover {
		transform: translate(0, -1.5px);
	}
}
