@import './../../styles/abstract/variables.scss';

@mixin MTypography(
	$font-size,
	$font-weight,
	$color,
	$font-family
) {
	font-size: $font-size;
	font-weight: $font-weight;
	color: $color;
	font-family: $font-family;
}

.Typography {
	line-height: 1.7;
	margin: 0 !important;
	padding: 0 !important;
	transition: $animation-transition;

	&Color {
		&Dark {
			color: $dark !important;
		}

		&Lite {
			color: $lite !important;
		}

		&Muted {
			color: $muted !important;
		}

		&Secondary {
			color: $secondary !important;
		}

		&Danger {
			color: $danger !important;
		}
	}

	&HoverColor {
		&Dark {
			&:hover {
				color: $dark !important;
			}
		}

		&Lite {
			&:hover {
				color: $lite !important;
			}
		}

		&Muted {
			&:hover {
				color: $muted !important;
			}
		}

		&Secondary {
			&:hover {
				color: $secondary !important;
			}
		}

		&Danger {
			&:hover {
				color: $danger !important;
			}
		}
	}

	&Variant {
		&Default {
			@include MTypography(
				13px,
				400,
				$secondary,
				$vazir
			);
		}

		&Display1 {
			@include MTypography(
				52px,
				800,
				$lite,
				$mikhak
			);
		}

		&Display4 {
			@include MTypography(
				18px,
				600,
				$dark,
				$mikhak
			);
		}

		&display5 {
			@include MTypography(
				16px,
				600,
				$dark,
				$mikhak
			);
		}

		&Display6 {
			@include MTypography(
				14px,
				400,
				$dark,
				$mikhak
			);
		}

		&TextSmall {
			@include MTypography(
				13px,
				normal,
				$secondary,
				$vazir
			);
		}

		&TextLarge {
			@include MTypography(
				16px,
				400,
				$secondary,
				$lite
			);
		}

		&Subtitle {
			@include MTypography(
				12px,
				400,
				$secondary,
				$vazir
			);
		}

		&Date {
			@include MTypography(
				12px,
				400,
				$secondary,
				$vazir
			);
		}

		&LinkSmall {
			@include MTypography(
				12px,
				600,
				$secondary,
				$vazir
			);
			text-decoration: none;
		}
	}

	&Align {
		&Right {
			text-align: right;
		}

		&Left {
			text-align: left;
		}

		&Center {
			text-align: center;
		}

		&Right {
			text-align: right;
		}

		&Inherit {
			text-align: inherit;
		}

		&Justify {
			text-align: justify;
		}
	}

	&NoWrap {
		white-space: nowrap;
	}

	&Display {
		&Inline {
			display: inline;
		}

		&InlineBlock {
			display: inline-block;
		}

		&Block {
			display: block;
		}

		&Initial {
			display: initial;
		}

		&None {
			display: none;
		}
	}

	&NoneSelection {
		&::selection {
			background-color: transparent;
		}
	}

	&Decoration {
		&None {
			text-decoration: none !important;

			&:hover {
				text-decoration: none !important;
			}
		}

		&UnderLine {
			text-decoration: underline !important;

			&:hover {
				text-decoration: underline !important;
			}
		}

		&LineThrough {
			text-decoration: line-through !important;

			&:hover {
				text-decoration: line-through !important;
			}
		}

		&OverLine {
			text-decoration: overline !important;

			&:hover {
				text-decoration: overline !important;
			}
		}
	}
}
