@import './../../../styles/abstract/media';

.Services {
	padding-top: 40px;

	h4 {
		@include media('max', 'sm') {
			text-align: center !important;
		}
	}

	&Items {
		display: flex;
		flex-wrap: wrap;
		margin-top: 5px;

		& > * {
			flex-basis: 33.3333333%;

			& > * {
				margin: 15px;

				p {
					margin-top: 5px !important;
				}

				a {
					margin-top: 12px !important;
					display: flex;
					align-items: center;
				}

				@include media('max', 'sm') {
					margin: 0;
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}

			@include media('max', 'md') {
				flex-basis: 50%;
			}

			@include media('max', 'sm') {
				flex-basis: 100%;
			}
		}
	}
}
