@import './../../styles/abstract/variables';
@import './../../styles/abstract/media';

.Navbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	background-color: $lite-theme-box-background;
	box-shadow: 0 3px 8px 0 $lite-theme-box-shadow;
	transition: $animation-transition;
	z-index: 50;

	@include media('min', 'xl') {
		border-radius: 15px 0 0 15px;
	}

	&MenuIcon {
		height: 70px;
		background-color: #fff;
		box-shadow: 0 1px 4px 0 rgb(160, 160, 160);
		transition: $animation-transition;

		@include media('min', 'xl') {
			border-radius: 15px 0 0 0;
		}

		&:hover {
			border-radius: 15px 0 0 0;
		}

		&Active {
			@include media('min', 'xl') {
				border-radius: 15px 0 0 0;
			}
		}

		& > div {
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;

			& > * {
				bottom: 3px;
			}
		}
	}

	&Title {
		width: 80px;
		position: absolute;
		right: 0;
		top: 25%;
		display: flex;
		justify-content: center;

		& > * {
			display: inline-block;
			transform: rotate(-90deg);
		}
	}

	&MenuList {
		height: calc(100% - 70px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}

	&Active {
		width: 230px !important;
	}

	@include media('max', 'lg') {
		width: calc(230px - 240px);
	}
	@include media('min', 'xl') {
		width: calc(230px - 150px);
	}
}
