@import './../../styles/abstract/variables';
@import './../../styles/abstract/media';

.CardWork {
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: $animation-transition;
	height: 300px;

	&Link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&Wrapper {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img,
		&Placeholder {
			width: 100%;
			height: 100%;
		}

		&Placeholder {
			background-color: red;
		}

		// &::after {
		// 	content: '';
		// 	transition: $animation-transition;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: rgba(000, 000, 000, 0.2);
		// }

		// &:hover {
		// 	&::after {
		// 		opacity: 0;
		// 	}
		// }
	}

	&Content {
		position: absolute;
		right: 0;
		width: 100%;
		transition: $animation-transition;
		bottom: 0;

		@include media('min', 'lg') {
			bottom: -100%;
		}
	}

	&:hover {
		.CardWorkContent {
			bottom: 0;

			h5 {
				font-weight: bold;
			}

			p {
				margin-top: 5px !important;
				margin-bottom: 15px !important;
			}
		}
	}
}
