@import './../../../styles/abstract/media';

.Details {
	&Grid {
		padding-top: 20px;

		&Item {
			&:first-child {
				& > div {
					p {
						margin: 0 !important;
						font-size: 16px;
					}

					& > * > p {
						margin-bottom: 20px !important;
					}

					@include media('min', 'lg') {
						padding-left: 15px;
					}

					@include media('max', 'md') {
						padding-bottom: 15px;
					}
				}
			}

			&:last-child {
				& > div {
					@include media('min', 'lg') {
						padding-right: 15px;
					}

					@include media('max', 'md') {
						padding-top: 15px;
					}
				}
			}
		}
	}
}
