.Container {
	max-width: 600px;
	margin: 0 auto;

	&Title {
		margin: 0 auto 30px auto !important;
		max-width: 300px;
	}

	&Uploader {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
	}

	&Star {
		margin-top: 10px;
		direction: ltr;

		svg {
			font-size: 20px;
			cursor: pointer;

			&:not(:last-child) {
				padding-right: 6px;
			}
		}
	}
}
