@import './../../../styles/abstract/media';
@import './../../../styles/abstract/variables';

.CountUp {
	&List {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;

		li {
			flex-basis: 25%;
			padding-top: 30px;
			text-align: center;
			cursor: default !important;

			span {
				cursor: default !important;
				line-height: 0;

				&::selection {
					background-color: transparent;
				}

				&:first-child {
					font-size: 22px;
					color: $danger;
				}

				&:last-child {
					font-size: 15px;
					font-weight: 500;
				}
			}

			@include media('max', 'sm') {
				flex-basis: 50%;
			}
		}
	}
}
