@import './../../styles/abstract/media';

.Isotope {
	padding-top: 20px;

	&FilterList {
		list-style: none;
		display: flex;

		li {
			margin-left: 15px;
		}
	}

	&Container {
		padding-top: 20px;
		margin-top: -15px;

		@include media('min', 'md') {
			margin-left: -7.5px;
			margin-right: -7.5px;
		}

		&Item {
			margin-top: 15px;

			@include media('min', 'md') {
				margin-right: 7.5px;
				margin-left: 7.5px;
			}
		}
	}
}
