body {
	direction: rtl;
	font-family: $vazir;
	font-size: 13px;
	line-height: 1.7;
	font-weight: 400;
	overflow: hidden;
	unicode-bidi: embed;
	letter-spacing: 0.25px;
	padding: 0;
	margin: 0;
	background-color: $lite-theme-background;
	height: 100%;
}

div {
	&:active,
	&:focus {
		outline: none;
	}
}

.ReactCollapse--collapse {
	transition: $animation-transition;
}

.rc-tooltip-inner {
	padding: 0 10px;
	display: flex;
	align-items: center;
	cursor: default;

	*::selection {
		background-color: transparent;
	}
}

.container {
	max-width: 1440px;
	margin: 0 auto;

	& > div {
		height: 100%;
	}

	@include media('max', 'lg') {
		height: 100vh;
	}

	@include media('min', 'xl') {
		padding: 15px;
		height: calc(100vh - 30px);
	}
}

ul {
	margin: 0;
	padding: 0;
}

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #f44336;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #f44336, 0 0 5px #f44336;
	opacity: 1;

	-webkit-transform: rotate(3deg)
		translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: #f44336;
	border-left-color: #f44336;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms
		linear infinite;
	animation: nprogress-spinner 400ms linear
		infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
